{% extends "personal/header.html" %}


{% block content %}

<body>
	<div class="topcorner">
	<a href="/allcategories">
	<button type="submit" style="font-family: Verdana;  background-color:#1DA1F2;cursor:pointer; color: #ffffff ; border: none;font-size: 18px;"class="btn btn-primary">Sign In</button>
	</a>
	</div><!-- .topcorner --> 
	<video autoplay loop id="video-background" muted plays-inline>
  	<source src="https://s3-us-west-1.amazonaws.com/elasticbeanstalk-us-west-1-834181891871/Background_Video/Back_video2.mp4" type="video/mp4">
	</video>
	<div class="container-fluid">
			<!-- START HERE --> 
		<h1>Netflix For Indians </h1>
		<!-- <p>* Welcome to friends from University of Conneticut. Membership is free for you </p> -->
		<p>* Ji Aayan Nu to UBC Thunderbirds</p>
		<p>* Watch your regional movies,standup comedy,news and sports </p>
		<p>* Cancel Anytime</p>
		<p><a href="/accounts/register/">
		<button type="submit" style="font-family: Verdana;cursor:pointer;background-color:#1DA1F2; color: #ffffff ; border: none;font-size: 25px;"class="btn btn-primary">Join Free For A Month</button></a></p>

	</div><!-- .container --> 
</body>
{% endblock %}




