{% extends "registration/header.html" %}
{% block title %}Sign In{% endblock %}
{% block content %}

<div class="container-fluid">
	<form method="post" action="{% url 'login' %}">
	{% csrf_token %}

	{% if form.errors %}
	<p>Your Username or Password were not entered correctly. Please try again.</p>
	{% endif %}
	<table>

	<tr>
		<p>
	    <td>Username/Email : </td>
	    <td>{{ form.username }}</td>
	    <td>{{ form.username.errors }}</td>
	    </p> 
	</tr>
	<tr>
		<p>
	    <td>{{ form.password.label_tag }}</td>
	    <td>{{ form.password }}</td>
	    <td>{{ form.password.errors }}</td>
	</p>
	</tr>

	</table>

	<a href="/password_reset">Forgot Password?</a>
	<p><a href="/accounts/login/">
	<button type="submit" style="font-family: Verdana;cursor:pointer;  background-color:#1DA1F2; color: #ffffff ; border: none;font-size: 18px;"class="btn btn-primary">Sign In</button>
	</a></p>
	<p>Don't have an account? <a href="/accounts/register/">Signup</a></p>
	
	</form>
</div><!-- .container --> 
<video autoplay loop id="video-background" muted plays-inline>
  	<source src="https://s3-us-west-1.amazonaws.com/elasticbeanstalk-us-west-1-834181891871/Background_Video/Back_video2.mp4" type="video/mp4">
</video>
{% endblock %}

