{% extends "registration/header.html" %}

{% block content %}
<div class="container-fluid">
<h2>Please enter your email address to search for your account</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="font-family: Verdana; cursor:pointer; background-color:#1DA1F2; color: #ffffff ; border: none;font-size: 18px;" class="btn btn-primary" >Submit</button>
  </form>
</div>
<video autoplay loop id="video-background" muted plays-inline>
  	<source src="https://s3-us-west-1.amazonaws.com/elasticbeanstalk-us-west-1-834181891871/Background_Video/Back_video2.mp4" type="video/mp4">
</video>
{% endblock %}

